@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Raleway:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Raleway";
    background-color: #f4f7fa;
}
.containerMain{
    width: 93%;
}
ol,ul{
    padding-left: 0px !important;
}

@media (max-width:500px){
    .containerMain{
        width: 100%;
    }
}



